
.frame {
    width: 1300px;
    height: 180;
    border: 3px solid #ccc;
    background: rgb(218, 121, 121);
    margin: auto;
    padding: 15px 25px;
}

img {

    width: 50px;
    height: 50px;
}

.debut-col { 

    float: left; width: 400px;
 }   
 
 .left-col { 
 
     float: left; width: 200px;
  }   
   
  .mid-col { 
     
     float: left; width: 200px;
  }   
   
  .right-col { 
     
     float: left; width: 200px; 
 
 }   

.debut-ligne1 { 

    float: left; width: 200px;
    clear: left;
 }   
 
 .left-ligne1 { 
    
      float: left; width: 300px;
     
  }   
  

  .mid-ligne1 { 
     
     float: left; width: 300px;
  }   
   
  .right-ligne1 { 
     
     float: left; width: 300px; 

    
 }  

.corps {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(142, 133, 152);
}
























